@use "lib/viewport";

.blog-post {
  .topic-map__contents,
  .post-controls .post-action-menu__solved-unaccepted {
    display: none;
  }

  &.--blog-image-below-title {
    .title-wrapper {
      margin-inline: auto;
      text-align: center;
      justify-content: center;
    }

    #post_1 {
      .topic-avatar,
      .topic-meta-data {
        // hides the edit history icon too, need to find a solution
        display: none;
      }
    }
  }

  &__meta {
    display: grid;
    grid-template-areas: "avatar name" "avatar date";
    column-gap: var(--space-2);
    font-size: var(--font-down-1-rem);
    grid-template-columns: min-content min-content;
    justify-content: center;
    margin-bottom: var(--space-6);
  }

  &__avatar {
    grid-area: avatar;
  }

  &__author {
    grid-area: name;
    font-weight: 700;
    align-self: flex-end;
  }

  &__publish-date {
    white-space: nowrap;
    grid-area: date;
    color: var(--primary-medium);
    align-self: flex-start;
  }

  &__summary {
    font-size: var(--font-up-1-rem);
    margin-block: var(--space-6);
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: clamp(350px, 45vh, 650px);
    border-radius: var(--d-border-radius);

    .--blog-image-full-width & {
      background-size: cover;
      width: 100%;
    }
  }

  #topic-title {
    a.edit-topic .d-icon {
      font-size: 0.5em;
    }

    &:has(.blog-image-container) {
      flex-direction: column;
    }

    &.--embedded {
      height: calc(clamp(350px, 45vh, 650px) / 3);
      margin-top: calc(clamp(350px, 45vh, 650px) / -3);
      opacity: 1;
      background: rgb(255, 255, 255, 0.2);
      backdrop-filter: blur(8px);
      bottom: var(--space-4);
      left: var(--space-4);
      right: var(--space-4);
      width: calc(100% - var(--space-8));
      border-radius: var(--d-border-radius);
      border: 1px solid rgb(255, 255, 255, 0.1);

      h1 a {
        color: white;
      }
    }

    @include viewport.from(sm) {
      display: flex;
      justify-content: center;

      h1 {
        font-size: 4rem;
        font-weight: normal;

        .edit-topic {
          height: 0.5em;
          width: 0.5em;
          margin-left: var(--space-4);

          &__wrapper {
            display: inline-flex;
            align-items: center;
          }
        }
      }

      .title-wrapper {
        width: 70%;

        .topic-category {
          margin-top: 0.25em;
        }
      }

      @media screen and (width <= 1350px) {
        .title-wrapper {
          width: 80%;
        }
      }

      @media screen and (width <= 924px) {
        justify-content: left;
      }
    }

    @include viewport.until(sm) {
      margin-top: 1em;

      h1 {
        font-size: 1.5em;
      }
    }
  }

  .post__topic-map {
    border-top: 0;
  }

  article:not(#post_1) .post__row {
    padding-top: var(--space-4);
    border-top: 1px solid var(--primary-low);
  }

  .topic-body {
    width: 100%;
    padding: 0;
    border-top: 0;
  }

  .topic-avatar {
    width: 20px;
    background: none;
    padding-top: 0;
    border-top: 0;

    img.avatar {
      height: 20px;
      width: 20px;
    }

    .avatar-flair {
      background-size: 8px 8px;
      width: 10px;
      height: 10px;
      top: unset;
      bottom: -5px;
      right: -3px;

      .d-icon {
        height: 0.45em;
        width: 0.45em;
      }
    }
  }

  &__drop-cap {
    font-size: var(--font-up-6);
    margin-right: 0.1em;
    line-height: 1;
  }

  #post_1 {
    .topic-body {
      &.highlighted {
        animation: none;
      }

      @include viewport.from(sm) {
        padding-top: 8px;
        border-top: none;

        .topic-meta-data {
          flex-direction: column;
          align-items: unset;
          padding: 0;
          margin-left: 6px;
          margin-bottom: 2px;

          .post-infos {
            justify-content: space-between;

            .post-info.edits {
              order: 1;
            }
          }
        }
      }

      @include viewport.until(sm) {
        padding-top: 0;

        .topic-meta-data {
          display: block;
          margin-bottom: 10px;
          margin-left: 2px;
          font-size: 0.75em;

          .names {
            flex-wrap: nowrap;

            .second,
            .user-title {
              flex-basis: unset;
            }
          }

          .post-infos {
            display: flex;
            justify-content: space-between;

            .post-info.edits {
              float: right;
              margin-left: 5px;
              order: 1;
            }

            .post-info.post-date {
              float: left;
            }
          }
        }
      }
    }

    .topic-avatar {
      @include viewport.until(sm) {
        height: 25px;
        width: 25px;
        border-top: none;
        background: none;
        margin-right: 5px;

        img.avatar {
          height: 25px;
          width: 25px;
        }

        .avatar-flair {
          background-size: 8px 8px;
          width: 0.75em;
          height: 0.7em;
          top: unset;
          bottom: -2px;
          right: -2px;

          svg {
            height: 0.5em;
          }
        }
      }
    }

    .topic-map.--op {
      @include viewport.from(sm) {
        padding-left: 0;

        .comments-heading {
          display: block;
          width: 100%;
          margin-block: 0 var(--space-1);

          h2 {
            margin: 0;
          }
        }

        .topic-map__users-list {
          display: none;
        }
      }
    }

    .cooked {
      big {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 1px;
        display: inline-block;
        font-family: Georgia, serif;
      }

      & > p:first-child + div.lightbox-wrapper {
        display: none;

        & + p {
          margin-top: -15px;
        }
      }

      & > p img:not(.emoji) {
        display: none;
      }

      & > p ~ p img:not(.emoji) {
        display: block;
      }
    }
  }

  .post-infos img.avatar {
    @include viewport.from(sm) {
      height: 20px;
      width: 20px;
    }
  }

  .topic-status-info,
  .topic-timer-info,
  .topic-area > .loading-container,
  .small-action .small-action-desc {
    @include viewport.from(sm) {
      width: 100%;
      max-width: 100%;
    }
  }

  .post-notice {
    @include viewport.from(sm) {
      max-width: 519px;
      font-size: var(--font-down-2);
    }
  }

  .small-action {
    @include viewport.from(sm) {
      font-size: 0.75em;

      .small-action-desc {
        .small-action-contents {
          display: flex;
          align-items: center;

          .avatar {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }

  .topic-meta-data {
    @include viewport.from(sm) {
      font-size: small;
    }
  }

  .cooked {
    @include viewport.from(sm) {
      padding: 0.5em 1em;
    }
  }

  .topic-post {
    &:first-child {
      figure {
        margin: 0;
      }

      figcaption {
        margin-top: -16px;
        font-size: 0.8em;
        font-weight: bold;
      }

      blockquote {
        background: var(--primary-very-low);
        color: var(--primary-high);
        border-left: 10px solid var(--primary-low-mid);
        padding: 0.5em 10px;
      }

      blockquote::before {
        color: var(--primary-low-mid);
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.4em;
      }

      blockquote p {
        display: inline;
      }

      @include viewport.from(sm) {
        font-size: 1.25em;
        line-height: 1.4;
        padding-bottom: 0;
        padding-top: 4px;

        .topic-avatar {
          padding-top: 4px;
          position: static !important;
          border-top: none;
        }

        .topic-body {
          max-width: unset;
        }

        .cooked {
          padding: 0;
        }

        nav.post-controls .actions,
        .topic-map,
        .post-admin-menu {
          font-size: 14px;
        }
      }

      @include viewport.until(sm) {
        .cooked {
          font-size: 1.25em;

          .lightbox-wrapper .meta {
            font-size: 0.75em;
          }
        }

        nav.post-controls .actions,
        .topic-map,
        .post-admin-menu {
          font-size: 0.75em;
        }
      }
    }
  }

  .topic-timeline,
  .comments-heading {
    @include viewport.from(sm) {
      display: none;
    }
  }

  .topic-map.--bottom {
    @include viewport.from(sm) {
      display: none !important;
    }
  }

  .timeline-toggle,
  #topic-progress-wrapper.docked,
  .timeline-container.timeline-docked {
    display: none;
  }

  .container.posts {
    grid-template-areas: "posts";
    grid-template-columns: 70%;
    justify-content: center;

    .topic-navigation {
      .d-toc-main {
        min-width: 11.25em;
      }
    }
  }

  .topic-area > .loading-container {
    @include viewport.from(sm) {
      max-width: 500px;
    }
  }
}
